.x-input {
		margin-bottom: 15px;
		    border: 1px solid transparent;
		 position: relative;
	}

	.x-error {
		color: red;
		position: absolute;
		left: 0;
		bottom: -22px;
	}

	.x-error-input {
		border: 1px solid red;
		color: red;
	}

	.x-error-input-no-border {
		color: red;
	}
